@font-face {
  font-family: "Kanit";
  font-style: italic;
  font-weight: 100;
  src: url("@/assets/fonts/Kanit-ThinItalic.ttf") format("truetype");
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: "Kanit";
  font-style: italic;
  font-weight: 200;
  src: url("@/assets/fonts/Kanit-ExtraLightItalic.ttf") format("truetype");
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: "Kanit";
  font-style: italic;
  font-weight: 300;
  src: url("@/assets/fonts/Kanit-LightItalic.ttf") format("truetype");
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: "Kanit";
  font-style: italic;
  font-weight: 400;
  src: url("@/assets/fonts/Kanit-Italic.ttf") format("truetype");
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: "Kanit";
  font-style: italic;
  font-weight: 500;
  src: url("@/assets/fonts/Kanit-MediumItalic.ttf") format("truetype");
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: "Kanit";
  font-style: italic;
  font-weight: 600;
  src: url("@/assets/fonts/Kanit-SemiBoldItalic.ttf") format("truetype");
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: "Kanit";
  font-style: italic;
  font-weight: 700;
  src: url("@/assets/fonts/Kanit-BoldItalic.ttf") format("truetype");
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: "Kanit";
  font-style: italic;
  font-weight: 800;
  src: url("@/assets/fonts/Kanit-ExtraBoldItalic.ttf") format("truetype");
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: "Kanit";
  font-style: italic;
  font-weight: 900;
  src: url("@/assets/fonts/Kanit-BlackItalic.ttf") format("truetype");
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 100;
  src: url("@/assets/fonts/Kanit-Thin.ttf") format("truetype");
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 200;
  src: url("@/assets/fonts/Kanit-ExtraLight.ttf") format("truetype");
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 300;
  src: url("@/assets/fonts/Kanit-Light.ttf") format("truetype");
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 400;
  src: url("@/assets/fonts/Kanit-Regular.ttf") format("truetype");
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 500;
  src: url("@/assets/fonts/Kanit-Medium.ttf") format("truetype");
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 600;
  src: url("@/assets/fonts/Kanit-SemiBold.ttf") format("truetype");
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 700;
  src: url("@/assets/fonts/Kanit-Bold.ttf") format("truetype");
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 800;
  src: url("@/assets/fonts/Kanit-ExtraBold.ttf") format("truetype");
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 900;
  src: url("@/assets/fonts/Kanit-Black.ttf") format("truetype");
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

@layer base {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1rem;
  }
}
