@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "@/assets/scss/fonts.scss";
@import "@/assets/scss/variables.scss";

body {
  font-family: $primary-font;
}

.p-dropdown-panel.p-component,
.country-dropdown .p-inputtext,
.sort-dropdown .p-inputtext,
.search .p-inputtext {
  font-family: $primary-font;
}

.contact-form {
  .p-button {
    border: none;
  }

  .p-button:hover {
    opacity: 0.9;
  }
}
